<table class="table table-hover m-3">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		@foreach (var vid in Model)
		{
			<tr>
				<td>@vid.Id</td>
				<td>@vid.Title</td>
				<td style="vertical-align:middle">
					<div class="d-flex mt-1 me-1 justify-content-end">
						<button class="btn btn-outline-primary p-2 me-2" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Edit, vid.Id)))">Edit Similar Videos</button>
						<button class="btn btn-outline-danger p-2" @onclick="@(() => OnClick.InvokeAsync(new ClickModel(PageType.Delete, vid.Id)))">Delete All Similar Videos</button>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
@code {
	[Parameter] public List<VideoDTO> Model { get; set; } = new();
	[Parameter] public EventCallback<ClickModel> OnClick { get; set; }
}
