@inherits LayoutComponentBase

<PageTitle>VV.Admin.UI</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="/images/text.png" height="100" />
            <button type="button" class="btn btn-info">Log In</button>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
