@page "/"
<div class="d-flex justify-content-center" style="height: 100vh;">
	<div class="d-flex flex-column justify-content-center">
		<img src="/images/logoandtext.png" alt="Company Logo" width="350" />
		<a href="/Start" class="align-self-center">
			<button type="button" class="btn btn-dark">Log In</button>
		</a>
	</div>
</div>

@code {

}
